<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<div>
  <br>
  <% @tasks.each do |t| %>
    <%= t.name %>
    <%= t.difficulty %>
    <%= link_to 'Edit', edit_project_task_path(@project, t) %>  |
    <%= link_to 'Details', project_task_path(@project, t) %>  |
    <%= link_to 'Delete', project_task_path(@project, t), method: :delete %>
  <br>
  <% end %>
</div>
<br>

<%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'New Task', new_project_task_path(@project) %>